body{
background-image: url("../../public/blitzai.png");
backdrop-filter: sepia(90%);
z-index: 50;
}

.myBg{
    position:absolute;
    top:0%;
    left:0%;
    width:100%;
    height:100vh;
    background-color: rgba(0,0,0,.5);
    z-index: 9;
}

.outerDiv{
height:100vh;
display:flex;
justify-content: center;
align-items: center;
z-index: 99;
}

.myBox{
    max-width:900px;
    min-width:900px;
    min-height:600px;
    display:flex;
    margin:0 auto;
}

.myCard{
    width:100%;
    display:flex;
    flex-direction: column;
}

.header{
    padding:8px;
    font-size: 25px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0.063rem 0.625rem 0px;
}

.body{
    flex-grow: 2;
}
.footer{
    padding:8px;
    font-size: 25px;
    display:flex;
    justify-content: center;
    box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.2);
}